@model DynamicPersSite.Models.ContactViewModel

@{
    ViewData["Title"] = "Contact";
}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/assets/img/alvaro-serrano-hjwKMkehBco-unsplash.jpg');">
        <div class="container position-relative d-flex flex-column align-items-center">

            <h2>Contact</h2>
            <ol>
                <li><a href="/">Home</a></li>
                <li>Contact</li>
            </ol>

        </div>
    </div><!-- End Breadcrumbs -->
    <!-- ======= Contact Section ======= -->


    <section id="contact" class="contact">
        <div class="container position-relative" data-aos="fade-up">

            <div class="row gy-4 d-flex justify-content-center">

                

                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="250">

                    <form asp-action="Contact" class="php-email-form">
                            <div class="row">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="col-md-6 form-group">
                                    
                                    <input asp-for="Name" class="form-control" id="name" placeholder="Your Name" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="col-md-6 form-group mt-3 mt-md-0">

                                <input asp-for="Email" class="form-control" id="email" placeholder="Email" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group mt-3">

                            <input asp-for="Subject" class="form-control" id="subject" placeholder="Subject" />
                                <span asp-validation-for="Subject" class="text-danger"></span>
                            </div>
                            <div class="form-group mt-3">
                                
                                <textarea asp-for="Message" class="form-control" placeholder="Message"></textarea>
                                <span asp-validation-for="Message" class="text-danger"></span>
                            </div>
                            <div class="form-group text-center">
                            <input type="submit" value="Submit" class="btn btn-primary col-md-6" />
                            </div>
                        </form>
                   

                </div><!-- End Contact Form -->

            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->



@section scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}





@*<form asp-action="Contact" class="php-email-form">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-6 form-group">
            <input asp-for="Name" class="form-control" id="name" placeholder="Your Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="col-md-6 form-group mt-3 mt-md-0">

            <input asp-for="Email" class="form-control" id="email" placeholder="Your Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group mt-3">

        <input asp-for="Subject" class="form-control" id="subject" placeholder="Subject" />
        <span asp-validation-for="Subject" class="text-danger"></span>
    </div>
    <div class="form-group mt-3">

        <textarea asp-for="Message" class="form-control" placeholder="Message" rows="5"></textarea>
        <span asp-validation-for="Message" class="text-danger"></span>
    </div>
    <div class="form-group text-center">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</form>*@