@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Links";
    ViewData["BodyClass"] = "page-team";
}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/assets/img/geojango-maps-Z8UgB80_46w-unsplash.jpg');">
        <div class="container position-relative d-flex flex-column align-items-center">

            <h2>Links</h2>
            <ol>
                <li><a href="/">Home</a></li>
                <li>Links</li>
            </ol>

        </div>
    </div><!-- End Breadcrumbs -->
    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Centriq Contacts</h2>

            </div>

            <div class="row gy-4 text-center">

                <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="team-member">
                        <div class="member-img">
                            <img src="/assets/img/ritter.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href="http://www.ritterhaus.net"><i class="bi bi-bookmark-fill"></i></a>
                                <a class="disabled"><i class="bi bi-linkedin"></i></a>
                                <a class="disabled"><i class="bi bi-github"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Rob Ritter</h4>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="team-member">
                        <div class="member-img">
                            <img src="/assets/img/Cocroft.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href="http://andcroft.com/"><i class="bi bi-bookmark-fill"></i></a>
                                <a href="https://www.linkedin.com/in/andrew-cocroft-4a2952275/"><i class="bi bi-linkedin"></i></a>
                                <a href="https://github.com/ACocroft"><i class="bi bi-github"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Andrew Cocroft</h4>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="team-member">
                        <div class="member-img">
                            <img src="/assets/img/Werntz.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href="http://www.werntzdomain.com/"><i class="bi bi-bookmark-fill"></i></a>
                                <a><i class="bi bi-linkedin"></i></a>
                                <a href="https://github.com/DarronWerntz"><i class="bi bi-github"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Darron Werntz</h4>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="team-member">
                        <div class="member-img">
                            <img src="/assets/img/Cockrell.png" class="img-fluid" alt="">
                            <div class="social">
                                <a href="http://jacecockrell.com/"><i class="bi bi-bookmark-fill"></i></a>
                                <a href="https://www.linkedin.com/in/jace-cockrell-401964275/"><i class="bi bi-linkedin"></i></a>
                                <a href="https://github.com/JaceCockrell/"><i class="bi bi-github"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Jace Cockrell</h4>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="team-member">
                        <div class="member-img">
                            <img src="/assets/img/Silvinski.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href="http://www.codyslivinski.com/"><i class="bi bi-bookmark-fill"></i></a>
                                <a href="https://www.linkedin.com/in/codyslivinski/"><i class="bi bi-linkedin"></i></a>
                                <a href="https://github.com/CodySlivinski"><i class="bi bi-github"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Cody Slivinski</h4>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="team-member">
                        <div class="member-img">
                            <img src="/assets/img/gough.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href="http://goughkyle.com/"><i class="bi bi-bookmark-fill"></i></a>
                                <a href="https://www.linkedin.com/in/kyle-gough-709a3754/ "><i class="bi bi-linkedin"></i></a>
                                <a href="https://github.com/kylegough3"><i class="bi bi-github"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Kyle Gough</h4>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="team-member">
                        <div class="member-img">
                            <img src="/assets/img/Schmidt.JPEG" class="img-fluid" alt="">
                            <div class="social">
                                <a href="http://devschmidt.com/"><i class="bi bi-bookmark-fill"></i></a>
                                <a><i class="bi bi-linkedin"></i></a>
                                <a href="http://github.com/dev-schmidt"><i class="bi bi-github"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Devon Schmidt</h4>
                        </div>
                    </div>
                </div><!-- End Team Member -->



            </div>

        </div>
    </section><!-- End Team Section -->

</main><!-- End #main -->