@{
    ViewData["Title"] = "Portfolio";
    ViewData["BodyClass"] = "page-portfolio";
}
<main>
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/assets/img/joanna-kosinska-7ACuHoezUYk-unsplash.jpg');">
        <div class="container position-relative d-flex flex-column align-items-center">

            <h2>Portfolio</h2>
            <ol>
                <li><a href="/">Home</a></li>
                <li>Portfolio</li>
            </ol>

        </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">

            <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order">



                <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="300">

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <img src="~/assets/img/Adventure game.png" class="img-fluid" alt="Adventure Game">
                        <div class="portfolio-info">
                            <h5>Text Based Adventure Game</h5>
                            <p>An old school text based game demonstrating the fundamentals of object oriented programming in C#</p>                            
                            <a href="https://github.com/nicholasdavolt/DungeonApp.git" title="GitHub link" class="p-3" target="_blank" rel="noreferrer"><i class="bi bi-github"></i></a>
                        </div>
                    </div><!-- End Portfolio Item -->

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <img src="~/assets/img/ReactTodo.png" class="img-fluid" alt="React ToDo">
                        <div class="portfolio-info">
                            <h5>ToDo Application</h5>
                            <p>A ToDo application utilizing React for the user interface. Database functions are accessed via .NET web APIs, and authentication is performed with GitHub and Firebase</p>
                            <a href="https://github.com/nicholasdavolt/react_todo" title="GitHub link" class="p-3" target="_blank" rel="noreferrer"><i class="bi bi-github"></i></a>
                            <a href="http://todo.nicholasdavolt.com/" class="p-3" target="_blank" rel="noreferrer"><i class="bi bi-bookmark-fill"></i></a>
                        </div>
                    </div><!-- End Portfolio Item -->

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <img src="~/assets/img/storefront.png" class="img-fluid" alt="Fine Stringed Insturments">
                        <div class="portfolio-info">
                            <h5>Storefront Application</h5>
                            <p>A mock e-commerce application featuring full CRUD fuctionality. Utilizes Microsoft Entity Framework, role based identities and authentication and a session based shopping cart </p>
                            <a href="https://github.com/nicholasdavolt/StoreFront" title="GitHub link" class="p-3" target="_blank" rel="noreferrer"><i class="bi bi-github"></i></a>
                            <a href="http://storefront.nicholasdavolt.com/" class="p-3" target="_blank" rel="noreferrer"><i class="bi bi-bookmark-fill"></i></a>
                        </div>
                    </div><!-- End Portfolio Item -->



                </div><!-- End Portfolio Container -->

            </div>

        </div>
    </section><!-- End Portfolio Section -->
</main><!-- End #main -->
